<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head tags -->
  <%- include('partials/head')%> 
  
  <title>Home Page</title>
</head>
<body>
  <!-- Navbar -->
  <%- include('partials/header')%> 

  <!-- Scripts -->
  <%- include('partials/script')%> 
  </body>
</html>